body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#user-submit{
  color: white;
  width: 150px;
  border-radius: 20px;
  height: 80px; 
  border-color:white;
  border-width: 5px;
  font-size: 30px;
  cursor: pointer;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
                
}
#user-submit:hover{
   transform: scale(1.5);  
}
.progress-container {
  width: 250px;
  color: #363a43;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 19px;
  font-weight: normal;
  font-size: 14px;
  color: #363a43;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.upload-list {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #f0f0f0 ;
  border: 0.1rem solid #cfdbde;
  border-radius: 0.2rem;
  padding: 10px;
  width: 550px;
}
.file-size {
  color: #7eb631;
}

#upload-button {
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 16px;
}
#upload-button:hover {
  opacity: 0.8;
}

.contain{
  position: absolute;
  width : 100%;
  height: 100%;
  background: url('/src/images/bg-game.jpg');
  margin: auto;
  background-repeat:no-repeat;
  background-position: center ;
}
.container{
  border-radius: 120px;
  margin: auto;
  margin-top: 100px;
  height: 550px;
  width: 700px;
  background-color: #f0f0f0a8;
  font-size: 50px;
  color: rgb(25, 187, 138)

}
.score{
  right:200px;
  top: 20px;
  position: fixed;
  text-align: center;
  color: white;
  width: 150px;
  border-radius: 20px;
  height: 80px; 
  border: 5px solid white;
  font-size: 25px;
  background-image: linear-gradient(to right, #a1a1a1 0%, #6beea6 100%);
                
}
.pointer{
  right:50px;
  top: 80px;
  position: fixed;
  cursor: pointer;
}
.new{
  cursor: pointer
}
